<div class="user_mailer">
  <h1>お問い合わせいただきありがとうございます。</h1>
  以下の内容でお問い合わせを承りました
  <hr>
  <p>名前：<%=@user%></p>
  <p>メールアドレス：<%=@email%></p>
  <p>コンテンツ：<%=@contact%></p>
  <hr>
  <span>sample_app運営局</span>
</div>
